@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');

:root {
    --kuning-cerah: #FFEA00;
    --hitam-elegan: #0A0A0A;
    --font-montserrat: 'Montserrat' ;
}

.container {
    background-color: transparent;
    width: 700px;
    height: 500px;
}

.head_text {
    color: white;
}

.head {
    width: fit-content;
    border-bottom: 1px solid var(--kuning-cerah);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--kuning-cerah);
    font-family: var(--font-montserrat);
}

.text {
    margin-top: 30px;
    color: white;
    font-family: var(--font-montserrat);
}

.text2 {
    color: white;
    margin-top: 20px;
    font-family: var(--font-montserrat);
}

.highlight {
    color: var(--kuning-cerah);
    font-family: sans-serif;
    font-weight: bold;
}

.text_skills_learn {
    color: var(--kuning-cerah);
    font-family: var(--font-montserrat);
    border-bottom: 1px solid var(--kuning-cerah);
    font-size: 25px;
    margin-top: 25px;
    font-weight: bold;
    width: fit-content;
}

.year_and_education {
    gap: 190px;
    width: 700px;
    margin-top: 20px;
    display: flex;
}

.year {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.year1 {
    color: white;
    font-family: var(--font-montserrat);
    font-weight: bold;
}

.year2 {
    color: white;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 30px;
    margin-top: -11;   
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informatics {
    font-family: sans-serif;
    font-weight: bold;
    color: var(--kuning-cerah);
    font-size: 25px;
}

.informasi {
    font-family: var(--font-montserrat);
    color: white;
    margin-top: -5px;
    font-weight: bold;
}